test/testWCFService/Service References/INetLibService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServiceLibrary/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookEntity" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServiceLibrary/Service1/?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="selectBooksByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorNameToSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBooksByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookEntity" minOccurs="0" name="selectBooksByAuthorResult" nillable="true" type="q1:ArrayOfBookEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBooksByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleToSearch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBooksByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookEntity" minOccurs="0" name="selectBooksByTitleResult" nillable="true" type="q2:ArrayOfBookEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBooksByGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreIDToSearch" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBooksByGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookEntity" minOccurs="0" name="selectBooksByGenreResult" nillable="true" type="q3:ArrayOfBookEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBookByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBookByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BookEntity" minOccurs="0" name="selectBookByIDResult" nillable="true" type="q4:BookEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extractBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BookEntity" minOccurs="0" name="book" nillable="true" type="q5:BookEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extractBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="extractBookResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>